<%= render :partial => 'application_mailer/header' %>

<h1>Alteração de senha</h1>

<p>
	Olá <%= @user.name %>
	<br><br>
	Este é o link para você trocar a senha.
	<br><br>
	<%= edit_pass_token_url(@user.recovery_token) %>
	<br><br>
	Se você não pediu para trocar de senha, ignore este e-mail e continue usando a sua senha atual.
	<br><br>
	Obrigado, Equipe WG Finanças.
</p>

<%= render :partial => 'application_mailer/footer' %>


