<div class="container">
	<div class="row" style="margin-top: 100px;">
		<div class="col-xs-4 col-xs-offset-4">

			<div class="panel panel-default">

				<div class="panel-heading text-center">
					<strong>Senha</strong>
				</div>
				<div class="panel-body">
					<%= render 'edit_pass_form' %>
				</div>
	    </div>

		</div>
	</div>
</div>