<div class="row">
  <div class="col-xs-12">
    <h1>Ficha de cadastro</h1>
    <div role="tabpanel">

      <%= render 'tabs' %>

      <!-- Tab panes -->
      <div class="tab-content">
        <% if params.has_key? :step_number %>
          <%= render "step#{params[:step_number]}" %>
        <% else %>
          <%= render 'step1' %>
        <% end %>
      </div>

    </div>
  </div>
</div>